html
  head
    title= title
    link(rel="stylesheet", href="leaflet/leaflet.css")
    link(rel="stylesheet", href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
    link(rel="stylesheet", href="stylesheets/main.css")
    script(type="text/javascript", src="leaflet/leaflet.js")
    script(type="text/javascript", src="http://code.jquery.com/jquery-1.11.3.min.js")
    script(type="text/javascript", src="http://code.jquery.com/ui/1.11.4/jquery-ui.js")
    script(type="text/javascript", src="javascripts/jqueryui.js")
  body
    #map
    script(type="text/javascript", src="javascripts/map.js")
